<nav id="navbar-desktop">
  <ul>
    <li><a href="#" class="navbar-link">Pedidos</a></li>
    <li><a href="#" class="navbar-link">QRCode</a></li>
    <li><a href="#" class="navbar-link">Dados Cadastrais</a></li>
  </ul>
    <a href="#" class="navbar-link">Sair</a>
</nav>