body {
  margin: 0;
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style-type: none;
}

#qrcode-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

#qrcode-container > div {
  max-width: 500px;
  max-height: 500px;
  padding: 30px;
  background-color: white;
  border: 3px solid #e4e4e4;
  border-radius: 10px;
}

#navbar-desktop {
  padding: 20px 0;
  position: fixed;
  width: 240px;
  height: 100vh;
  background-color: white;
}

.navbar-link {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}

.navbar-link:hover {
  background-color: blue;
}